extends layout

block content
  nav(class="navbar navbar-expand-lg navbar-dark")
    .container-fluid
      a(class="navbar-brand" href="#")
      button(class="navbar-toggler" type="button" 
          data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" 
          aria-controls="navbarNavAltMarkup" aria-expanded="false" 
          aria-label="Toggle navigation")
        span(class="navbar-toggler-icon")
      div(class="collapse navbar-collapse" id="navbarNavAltMarkup")
        div(class="navbar-nav")
          a(class="nav-link active" aria-current="page" href="/movies") Home
      form(class="d-flex" action="/logout" method="post") 
        button(class="nav navbar-nav navbar-right" id='sign-out' type="submit") Sign out 
  header(id="list-header")
    h1 Add a Movie 
  hr
  if msg
    p(class='redText')= msg
  div(class='wrapper wrapper--w780')
    div(class='card card-3')
      .card-heading 
      .card-body 
        form(method='POST' action="/movies/add" enctype="multipart/form-data")
          .input-group 
            input(type='text', name='movieTitle',class = "input-style", value='', placeholder = "Title")
          .input-group 
            input(type="number" name="year" class = "input-style" placeholder = "Year")
          .input-group 
            textarea(name="synopsis" class = "input-style" placeholder= "Synopsis" cols="30", rows="6")
          .input-group 
            input(type="text" name="rating" class = "input-style" placeholder = "Rating")
          .input-group 
            input(type='file', class = "input-style" name='userFiles', multiple)
          div.p-t-10
            button(class="btn btn--pill btn--green") Submit
      