extends layout

block content
  header(id="list-header")
    h1 Add a Movie 
    p Use the form below to add a movie
  hr
  if msg
    p(class='redText')= msg
  div(class='wrapper wrapper--w780')
    div(class='card card-3')
      .card-heading 
      .card-body 
        form(method='POST' action="/movies/add" enctype="multipart/form-data")
          .input-group 
            input(type='text', name='movieTitle',class = "input-style", value='', placeholder = "Title")
          .input-group 
            input(type="number" name="year" class = "input-style" placeholder = "Year")
          .input-group 
            textarea(name="synopsis" class = "input-style" placeholder= "Synopsis" cols="30", rows="6")
          .input-group 
            input(type='file', class = "input-style" name='userFiles', multiple)
          div.p-t-10
            button(class="btn btn--pill btn--green") Submit
      