extends layout

block content
  header(id="list-header")
    h1 Edit a Movie 
    p Use the form below to Edit a movie
  hr
  if msg
    p(class='redText')= msg
  div(class='wrapper wrapper--w780')
    div(class='card card-3')
      .card-heading 
      .card-body 
        form(method='POST' action=`/movies/${movie.id}/edit` enctype="multipart/form-data")
          .input-group 
            input(type="text" name="movieTitle" class = "input-style" placeholder = "Title"  value= movie.title)
          .input-group 
            input(type='number' name='year' class = "input-style" placeholder = "Year" value= movie.year )
          .input-group 
            textarea(name="synopsis" class = "input-style" placeholder= "Synopsis" cols="30", rows="6" )= movie.synopsis
          div.p-t-10
            button(class="btn btn--pill btn--green") Save Changes
      