extends layout

block content
  h1= title
  p Welcome to #{title}
  hr
  if movies.length > 0
    #movies-wrapper
      ul.movies-list
        each val in movies
          tbody
            tr
              td
                a(class = "viewMovie" href=`/movies/${val.id}`)= val.title
                | 
                td= val.year
                | 
                td
                 