extends layout

block content
  nav.navbar.navbar-expand-md.navbar-dark
      a(class="navbar-brand" href="#")
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarCollapse', aria-controls='navbarCollapse', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarCollapse.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          li.nav-item.active
            a(class="nav-link active" aria-current="page" href="/movies")
              | Home 
              span.sr-only (current)
        form(class= 'form-inline.mt-2.mt-md-0' action="/logout" method="post")
          button(class="nav navbar-nav navbar-right" id='sign-out' type="submit") Sign out 
  header(id="list-header")
    h1 Add a Movie 
  hr
  if msg
    ul 
      each val in msg 
        li(class="redText")= val.msg
  div(class='wrapper wrapper--w780')
    div(class='card card-3')
      .card-heading 
      .card-body 
        form(method='POST' action="/movies/add" enctype="multipart/form-data")
          .input-group 
            input(type='text', name='movieTitle',class = "input-style", value='', placeholder = "Title")
          .input-group 
            input(type="number" name="year" class = "input-style" placeholder = "Year")
          .input-group 
            textarea(name="synopsis" class = "input-style" placeholder= "Synopsis" cols="30", rows="6")
          .input-group 
            input(type="number" name="rating" min=0 max=10  class = "input-style" placeholder = "Rating"  step="0.01")
          .input-group 
            input(type='file', class = "input-style" name='userFiles')
          div.p-t-10
            button(class="btn btn--pill btn--green") Submit
      