extends layout

block content
  .form-signin
  form(action="/signup", method="POST")
    .form-group  
      h2 Please Sign Up
    .form-group  
      input(class="form-control" id="email" name="email"  type= "email" placeholder="Email address" minlength="5" maxlength="255" autofocus)
    .form-group  
      input(class="form-control" id="emailPassword" name="password" type="password" placeholder="Password" maxlength="255")
    .form-group  
      button(type="submit" class="btn btn-primary") Sign Up
  .form-group  
    a(href="/login") 
      button(class='btn btn--pill btn--green') Cancel